$desktop-xl: 1600px;
$desktop-l: 1350px;
$tablet: 1024px;
$mobile: 768px;

// colors
$white: #fff;
$black: #000;


$blue: #67AEFC;
$blueLight: #DAECFF;
$violet: #6D79EF;
$green: #75E169;


$blackText: #292929;
$gray:#939393;



$font: "Montserrat", Arial, sans-serif;