@import "vars";
@import "mixin";
@import "libs";
@import "fonts";
@import "typography";
@import "forms";

* {
	box-sizing: border-box;

	&:after,
	&:before {
		box-sizing: border-box;
	}

	&::-webkit-media-controls-panel {
		display: none !important;
		-webkit-appearance: none;
	}

	&::--webkit-media-controls-play-button {
		display: none !important;
		-webkit-appearance: none;
	}

	&::-webkit-media-controls-start-playback-button {
		display: none !important;
		-webkit-appearance: none;
	}
}

html {
	height: 100%;
	min-height: 100%;
	font-family: $font;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 400;
	letter-spacing: 0;
	color: $black;

	@media only screen and (max-width: $tablet) {
		font-size: 17px;
		line-height: 1.75;
	}
}

body {
	height: 100%;
	min-height: 100%;
	font-size: 100%;
	min-width: 320px;
}

.main {
	overflow: hidden;
}

.wr {
	padding: 0 20px;
	max-width: 1210px;
	margin: 0 auto;
	width: 100%;
}

.slick {
	&-arrow {
		background: transparent;
		padding: 0;
		border: 2px #67AEFC solid;
		font-size: 0;
		position: absolute;
		min-width: 1px;
		border-radius: 15px;
		width: 60px;
		height: 60px;
		bottom: -142px;
		@media only screen and (max-width: $tablet) {
			bottom: -86px;
		}
		&:hover {
			background: $blue;

			&:after {
				border-top-color: $white;
				border-right-color: $white;
			}
		}
	}

	&-prev {
		left: 50%;
		margin-left: -75px;
		&:after {
			@include content();
			border-top: black 1px solid;
			border-right: black 1px solid;
			width: 20px;
			height: 20px;
			transform: rotate(225deg);
			color: $black;
			right: 50%;
			margin-right: -15px;
			top: 20px;
		}
		@media only screen and (max-width: $mobile) {
			margin-left: -113px;
		}
	}

	&-next {
		right: 50%;
		margin-right: -75px;
		&:after {
			@include content();
			border-top: black 1px solid;
			border-right: black 1px solid;
			width: 20px;
			height: 20px;
			transform: rotate(45deg);
			color: $black;
			right: 50%;
			margin-right: -7px;
			top: 20px;
		}
		@media only screen and (max-width: $mobile) {
			margin-right: -113px;
		}
	}
}


// layout
@import "layout/header";
@import "layout/footer";

// sections
 @import "sections/hero";
@import "sections/portfolio";
@import "sections/information";
@import "sections/discuss";
@import "sections/service";
@import "sections/steps";

