.steps {
  padding: 123px 0 272px;
  position: relative;
  @media only screen and (max-width: $tablet) {
    padding: 70px 0 135px;
  }
  @media only screen and (max-width: $mobile) {
    padding: 42px 0 135px;
  }
  &:after {
    @include content();
    background: url("../../img/steps/wave.png") center center no-repeat;
    background-size: contain;
    width: 190px;
    height: 70px;
    right: 176px;
    bottom: 49px;
    @media only screen and (max-width: $tablet) {
      content: none;
    }
  }
  &:before {
    @include content();
    background: url("../../img/steps/ball-2.png") center center no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    left: 181px;
    top: 129px;
    @media only screen and (max-width: $desktop-xl) {
      left: 0;
    }
    @media only screen and (max-width: $mobile) {
      top: 17px;
      left: -15px;
      width: 40px;
      height: 40px;
    }
  }

  .wr {
    position: relative;
    z-index: 1;
  }

  h2 {
    text-align: center;
    margin-bottom: 82px;
    @media only screen and (max-width: $mobile) {
      margin: 0 0 20px;
      font-size: 23px;
    }
  }

  &-slider {
    padding-right: 42.5%;
    margin: 0 -12px;
    @media only screen and (max-width: $tablet) {
      padding-right: 0;
    }
    &-block {
      display: flex !important;
      justify-content: space-between;
      border-radius: 15px;
      border: 2px $blue solid;
      padding: 85px 33px 49px 70px;
      height: 100%;
      @media only screen and (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 28px 30px 54px;
        h3 {
          margin-bottom: 4px;
        }
      }
    }

    &-barrel {
      padding-right: 12px;
      padding-left: 12px;
      height: 100%;
    }
  }

  &-text {
    width: 53%;
    @media only screen and (max-width: $mobile) {
      width: 100%;
      padding-bottom: 20px;
    }
  }

  &-img {
    width: 250px;
    height: 250px;
    @media only screen and (max-width: $mobile) {
      width: 220px;
      max-height: 220px;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
    img {
      display: block;
      max-height: 100%;
    }
  }

  .slick {
    position: relative;

    &-list {
      overflow: visible;
      @media only screen and (max-width: $mobile) {
        overflow: hidden;
      }
    }

    &-track,
    &-slide {
      display: flex;
      height: auto;
    }

    &-slide > div {
      height: 100%;
      width: 100%;
    }
  }
}




